<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Section | By Code Info</title>
    <link rel="stylesheet" href="Astyle.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>-- About Section --</h1>
      <div class="about-section">
        
        <p>
          <b>About HealthMate</b>

          <br>HealthMate is a symptom-based disease diagnosis web application designed to provide quick and accurate health insights. Leveraging a pre-trained Decision Tree Classifier model, our platform allows users to input their symptoms and receive potential diagnoses instantly.

<br><br><b>The Problem</b>
<br>People often experience symptoms and seek immediate answers about their health. Differentiating between diseases can be challenging due to overlapping symptoms.

<br><br><b> Solution</b>
<br>HealthMate addresses this by allowing users to input symptoms through a user-friendly interface. Our Decision Tree Classifier, trained on a dataset of symptoms and corresponding diseases, predicts the most likely illness. Users receive detailed information about the predicted disease, including descriptions, precautions, medications, dietary advice, and workout tips.

<br><br><b>Key Features</b>
<br>User-Friendly Interface: Easy symptom input.
<br>Accurate Predictions: Reliable disease predictions using machine learning.
<br>Comprehensive Information: Detailed disease info with recommendations.
<br>Educational Content: Informative health blog posts.

<br><br><b>Conclusion</b>
<br>HealthMate combines technology and healthcare to provide accessible and reliable health information, enhancing health awareness and improving well-being.<br />
          <button><a href="Personalized-Medication-and-Lifestyle-Companion\templates\homepage.html">Back</a></button>
          
        </p>
      </div>
    </div>
  </body>
</html>
