<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Section | By Code Info</title>
    <link rel="stylesheet" href="tstyle.css">
</head>
<body>
    <div class="wrapper">
        <h2>Executive Team</h2>
        <hr>
        <div class="members">
            <div class="team-mem">
                <img src="pic/team1.jpg" alt="Ms. Tulika">
                <h4>Tulika Chauhan</h4>
                <p>Btech-CSE</p>
                <p>A-69</p>
            </div>
            <div class="team-mem">
                <img src="pic/team2.jpg" alt="Ms. Aaditi">
                <h4>Aaditi Bisht</h4>
                <p>Btech-CSE</p>
                <p>A-01</p>
            </div>
            <div class="team-mem">
                <img src="pic/team3.jpg" alt="Ms. Sonali">
                <h4>Sonali Singh</h4>
                <p>Btech-CSE</p>
                <p>A-65</p>
            </div>
        </div>
    </div> 
</body>
</html>
